/* Favicon */
link[rel="icon"] {
    border-radius: 50%;
}

/* General Body Styles */
body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
    font-family: 'CustomFont';
}

body::before {
    content: "";
    background: url("for wedding website.png") no-repeat right center;
    background-size: cover;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Container */
.container {
    padding: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* Welcome Section */
.welcome {
    padding-top: 10px;
    border-radius: 20px;
    width: 90%;
    background-color: rgba(245, 229, 209, 1);
    color: black;
    border: 3px solid black;
}

/* Image Container */
.img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 70%;
    border: 5px solid black;
    border-radius: 20px;
}

/* Buttons and Forms */
.buttons-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-div {
    margin: 5px;
    border-radius: 50px;
    width: 90%;
    height: 15%;
    background-color: rgba(245, 229, 209, 1);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    border: 3px solid black;
}

.button-div:hover {
    background-color: #dbc5a4;
}

.hidden {
    display: none;
}

.form {
    padding-top: 10px;
    border-radius: 10px;
    width: 90%;
    background-color: rgba(245, 229, 209, 1);
    color: black;
    text-align: center;
    border: 3px solid black;
    padding: 15px;
}

/* Media Queries */
@media (min-width: 768px) {
    .row {
        flex-direction: row;
    }

    .img-container {
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .img-container {
        width: 100%;
        padding-bottom: 20px;
    }

    .buttons-container {
        width: 100%;
    }
}

/* Custom Font */
@font-face {
    font-family: 'CustomFont';
    src: url('font/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}